.table {
  width: 100%;
  font-size: 1.4;
  border: 1px solid $color-third;
  border-collapse: collapse;

  &__head {
    font-size: 1.6rem;
    font-weight: 700;
    height: 4rem;
    text-align: center;
    background-color: $color-secondary;
  }

  &__heading {
    border: 1px solid $color-third;
  }
  &__row {
  }
  &__data {
    border: 1px solid $color-third;
    width: 16.6%;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 700;

    &--time {
      text-align: center;
    }

    &--event {
      background-color: $color-green;
    }
  }
}
